<!DOCTYPE html>
<head>

</head>
<body>
    <div class="camera" id="cameraList">
        
    </div>
    <button id="refreshCams" onclick="setCamForm()">Update Images</button>
    <button id="sendCams" onclick="setCameras()">StartCams</button>
    <button id="start" onclick="startReading()">Start</button>
    <button id="start" onclick="stopReading()">Stop</button>
    <button id="putInRace" onclick="putInRace()">Players Are In a Race</button>
    <button id="TeamRed" onclick="setRed()">Red Team</button>
    <button id="TeamRed" onclick="setBlue()">Blue Team</button>
    <button id="TeamRed" onclick="setNone()">No Team</button>

</body>
<script src="manage.js"></script>